{
  "extends": "standard",
  "rules": {
    "semi": 0,
    "comma-dangle": ["error", "only-multiline"],
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "always",
        "named": "never",
        "asyncArrow": "always"
      }
    ]
  }
}
